config ZPP_LIB
	bool "Support for zpp library"
	default n
	help
	  This option enables the 'zpp rtos' library

config THREAD_STACK_SIZE
	int "Default user thread stack size"
	depends on ZPP_LIB
	default 1024
	help
	  This option allows to specify the default stack size to be used for user threads
  
module = ZPP_RTOS
module-str = ZPP_RTOS
source "subsys/logging/Kconfig.template.log_config"

module = ZPP_DRIVERS
module-str = ZPP_DRIVERS
source "subsys/logging/Kconfig.template.log_config"